.RestaurantDetailsPage {
  display: flex;
  flex-direction: column;
}

.RestaurantDetails {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

.restaurant-details-container {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

.tag-count {
  margin-left: 10px;
}
