.ReviewEditPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.review-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* 음식점 정보 */
.restaurant-info {
  width: 825px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 80px;
  padding: 11px 8px;
}
.restaurant-name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.restaurant-address {
  font-size: 24px;
  margin-bottom: 8px;
}
.restaurant-tel {
  font-size: 20px;
  margin-bottom: 5px;
}

/* 별점 정보 */
.star-rating-info {
  display: flex;
  align-items: center;
}

.star-icon {
  font-size: 36px;
  text-align: center;
  color: #fff500;
  -webkit-text-stroke: 1px black;
  margin-right: 10px;
}
.star-degree {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}
.total-reviews {
  font-size: 32px;
}

.star-icon,
.star-degree,
.total-reviews {
  display: inline-block;
}

.favorites-btn {
  width: 154px;
  height: 50px;
  border: 0px;
  border-radius: 100px;
  background-color: #fbe156;
  font-size: 28px;
  margin-left: auto;
}
.favorites-btn:hover {
  cursor: pointer;
}

/* 리뷰 태그 */
.review-tag-box {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  font-family: 'Pretendard-Regular';
}
.your-choice {
  font-size: 32px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.review-tag-name {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.review-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="checkbox"] {
  display: none; /* 체크박스 숨기기 */
}
input[type="checkbox"] + label {
  width: 130px;
  height: 50px;
  background-color: #d9d9d9; /* 배경색 */
  padding: 10px; /* 상하 좌우 패딩 */
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
}
input[type="checkbox"]:checked + label {
  background-color: #fbe156; /* 체크 시 배경색 변경 */
}

/* 수정하기 버튼 */
.edit-btn,
.delete-btn,
.read-btn {
  width: 450px;
  height: 80px;
  background-color: #fbe156;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.edit-btn:hover,
.delete-btn:hover,
.read-btn:hover {
  cursor: pointer;
}
