.ChatSession {
    width: 100%;
    height: 100%;
}

.chat-header {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    text-align: 60px;
    justify-content: space-between;
}

.chat-notice{
    width: 50px;
    height: 50px;
}

.chat-name{
    font-size: x-large;
}

.chat-group{
    width: 50px;
    height: 50px;   
}

.chat-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 780px;
    overflow-y: scroll;
}

.chat-and-vote{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.chat-vote-area{
    width: 80%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin: 10px;
}

.promise-header{
    height: 30px;
    font-size: x-large;
    margin: 20px;
    border-bottom: solid black 2px;
}

.menu-scrpit{
    height: 130px;
    font-size: larger;
    text-align: left;
    line-height: 30px;
    margin: 30px;
}

.vote-menu{
    width: 100%;
    height: 50px;
}

.vote-menu-btn{
    background-color: #FBE156;
    width: 150px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    font-size: larger;
    font-family: 'Pretendard-Regular';
}

.chat-member{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80px;
    margin: 10px;
}

.chat-mem{
    width: 50px;
    height: 50px;   
    margin: auto;
}

.vote-finish{
    width: 90%;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-align: 30px;
    margin: auto;
    margin-top: 20px;
    font-size: large;
    align-content: center;
}

.promise-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.promise-content{
    width: 80%;
    height: 330px;
    background-color: #FBE156;
    border-radius: 30px;
    margin: 10px;
}

.promise-menu{
    font-size: 50px;
    margin: 20px;
}

.promise-alltime{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
}

.place-name{
    margin-right: 10px;
}

.place{
    width: 180px;
    height: 20px;
    border-radius: 30px;
    border: none;
    font-family: 'Pretendard-Regular';
}

.promise-place{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.promise-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.promise-btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-family: 'Pretendard-Regular';
    background-color: white;
    margin: 10px;
}

.course-btn{
    margin: auto;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-family: 'Pretendard-Regular';
    background-color: #FBE156;
    font-size: larger;
    margin: 10px;
}