.ChatModal {
  position: absolute;
  top: 80px; 
  right: 0; 
  width: 100px; 
  height: 150px; 
  border-radius: 30px; /* 둥근 모서리 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
  padding: 10px;
  z-index: 1000; 
}

.chatfriend-list {
  margin: 5px 0;   
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 5px; /* 구분선을 더 보기 좋게 하기 위해 패딩 추가 */
}

.leave {
  margin-top: 10px;
  cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
}