.Departure-area{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.depature-chat{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.depature-setting{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: auto;
    background-color: #FBE156;
    border-radius: 30px;
}

.address-area{
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
}

.address-name{
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}

.search-address{
    font-size: larger;
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    font-family: 'Pretendard-Regular';
}

.postcode{
    width: 80%;
    height: 80%;
}

.mem-address{
    
    align-items: center;
}

.mem-add{
    font-size: larger;
    margin: 30px;
}

.addressClick{
    font-size: larger;
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-family: 'Pretendard-Regular';
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.third-area{
    margin: auto;
    width: 75%;
    height: 430px;
    border-radius: 30px;
    background-color: aliceblue;
}

.recomandRestaurant-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 25%;
    border-bottom: 3px solid black;
    margin: 20px;
}

.recomandRestaurant-name{
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

.recomandRestaurant-addressRoad{
    text-align: left;
}

.recomandRestaurant-tel{
    text-align: left;

}

.recomandRestaurant-infor{

    text-align: left;
}

.clickCourse{
    justify-content: right;
    width: 80px;
    height: 30px;
    border: solid #FBE156 2px;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 10px;
}