.Course{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.course-menu{
    width: 30%;
    height: 50px;
    text-align: center;
    align-content: center;
    border: solid 4px#FBE156;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    font-size: larger;
}
#map_div{
    background-color: aliceblue;
    margin: auto;
}

.totalTime-result{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    border: solid 4px#FBE156;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    font-size: larger;

}