.Notification {
  position: absolute;
  top: 70px;
  width: 24rem;
  height: 30rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop Shadow 추가 */
  background-color: white;
  padding: 20px;
}

.notification-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}

.notification-list-box {
  height: 90%;
  overflow: scroll;
}
/* 스크롤바 지우기 */
.notification-list-box::-webkit-scrollbar {
  display: none;
}

.notification-title {
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #b0afaf;
  font-size: 30px;
}
.notification-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 1px #b0afaf;
  padding: 15px 0;
}

.notification-type {
  font-size: 18px;
  margin-bottom: 10px;
}
.notification-content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #b0afaf;
}
